<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>allUsers</title>
</head>

<p>All Users:</p>

<div th:each ="user : ${users}">
    <body>
    <a th:text ="${user.getId()}"></a>
    &nbsp
    <a th:href="@{users/{id}(id = ${user.getId()})}" th:text ="${user.getFirstName()}"></a>
    <br/>
    <a th:href = "@{/users/{id}/edit(id=${user.getId()})}">update</a>
    &nbsp
    <a th:href = "@{/users/{id}/delete(id=${user.getId()})}">delete</a>
    <br/>
    <br/>
    </body>
</div>

<a th:href="@{/users/new}">new user</a>

</html>