<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id = ${user.getId()})}" th:object = "${user}">
    <label for="value">First Name</label>
    <input type = "text" th:field="*{firstName}" id = "value">
    <br/>
    <label for="lastName">Last Name</label>
    <input type = "text" th:field="*{lastName}" id = "lastName">
    <br/>
    <label for="age">Age</label>
    <input type = "text" th:field="*{age}" id = "age">
    <br/>
    <label for="growth">Growth</label>
    <input type = "text" th:field="*{growth}" id = "growth">
    <br/>
    <input type="submit" value="Update"/>

</form>

</body>
</html>