<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>

<body>

<form th:method="POST" th:action="@{/users}" th:object = "${user}">
    <label for="value">First Name</label>
    <input type = "text" th:field="*{firstName}" id = "value">
    <br/>
    <label for="lastName">Last Name</label>
    <input type = "text" th:field="*{lastName}" id = "lastName">
    <br/>
    <input type="submit" value="create"/>

</form>

</body>

</html>